/*styles*/

 html {
  scroll-behavior: smooth;
}


nav {
  white-space: nowrap;
}
nav ul {
  list-style-type: none;
    margin: 0;
    padding: 0;

}
 @media only screen and (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
    background-color:black;
  }
}
nav ul li a {
  display: block;
  padding: 0.4rem 0.9rem;
  color: white;
}
nav ul li a:hover { text-decoration: none; }

nav ul li a.current {
  background: #d3a80c;
  margin-bottom: -1px;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
    .gradient {
            display: block;
            position: absolute;
            background: linear-gradient( rgba(255, 255, 255, 0), white);
            margin-top: -150px;
            height: 151px;
            width: 100%;
            content: '';
            padding: 0;
        }
    .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 42px;
            font-size: 0px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -23px;

        }
        nav ul li a {
            display: block;
            padding: 0.4rem 0.9rem;
            color: white;
            margin-left: 15px;
            }
        .gradient {
            display: block;
            position: absolute;
            background: linear-gradient( rgba(255, 255, 255, 0), white);
            margin-top: -150px;
            height: 151px;
            width: 100%;
            content: '';
            padding: 0;
        }
        .name{
            font-size: 1.2rem;
            margin-top: 27px;
        }
        .name-2{
            font-size: 0.87rem;

        }
        .parallax {
            background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 470px;
            background-attachment: fixed;
            position: relative;
    }
    .corner-bubble {
            border-radius: 40px;
            margin: auto;
            width: 47%;
            height: 19px;
            background-color: black;
            color: white;
            font-size: 12px;
        }
        .bubble {
            position: relative;
            background: #000000;
            border-radius: 4em;
            margin-top: 44px;
        }
        .bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #000000;
            border-bottom: 0;
            margin-left: -11px;
            margin-bottom: -10px;
        }
        .motto {
            padding: 9px;
            font-size: 14px;
        }

        .title{
            padding-top: 5px;
            font-size: 1rem;
            padding-left: 10px;
        }
        .p{
            font-size: 79%;
            line-height: 1.4;

        }
        .icon-section-1 {
            width: 26px;
            height: 26px;
            overflow: hidden;
            padding-top: 0.3rem;
            border: 2.4px solid black;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
        }
        .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8 {
            width: 26px;
            height: 26px;
            overflow: hidden;
            padding-top: 0.3rem;
            border: 2.4px solid black;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
        }

        .bubble-row{
            margin-top: -55px;
        }
        .bubble-right{
            margin-top: -51px;
        }
        .section-1 {
            padding: 3rem;

            margin-top: -35px;
        }
        .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8{
            padding: 3rem;
            margin: -71px 0 2rem 0;
        }
        .hobbies{
            font-size: 0.8rem;
        }
        .exp-text{
            font-size: 0.88rem;
        }

        .card-text{
            line-height: 1.4;
            font-size: 85%;
        }
        .text-info {
            color: #17a2b8 !important;
            font-size: 0.8rem;
        }
        .card-title, .edu-text, .hobbies{
            font-size: 0.88rem;
        }
        .fa-2x {
            font-size: 1.3rem;
        }
        .years {
            font-size: 13px;
        }
        .row-icons{
            padding-left:8px;
        }
        .text-cont{
            font-size: 0.8rem;
        }
        .BSC-col{
            margin-top: 40px;
        }
        .geeks-img {
                position: fixed;
                right: 22px;
                top: 4px;
                height: 29px;
                z-index: 20;
        }
        .border-side{
            border-left: none !important;

        }

        /*styles vertical menu*/
        .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 42px;
            font-size: 0px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -23px;

        }

        li{
            margin-left: -16px;
            margin-bottom: 0px;
        }
        .fa-3x {
            font-size: 0.66rem;
            /* padding-left: 4px; */
        }
        .img-menu {
            width: 16px;
            height: 16px;
            border: 2px solid white;
            border-radius: 50%;
            margin-left:0px;
        }



}


 @media only screen and (min-width: 488px){
     .parallax {
            background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 662px;
            background-attachment: fixed;
            position: relative;

        }
        .gradient {
            display: block;
            position: absolute;
            background: linear-gradient( rgba(255, 255, 255, 0), white);
            margin-top: -150px;
            height: 150px;
            width: 100%;
            content: '';
            padding: 0;
        }

        .corner-bubble{
                border-radius: 40px;
                margin: auto;
                width: 39%;
                height: 23px;
                background-color: black;
                color: white;
                font-size: 14px;
        }
        .bubble-right{
            margin-top: 0px;
        }
    .bubble-row{
            margin-top: 10px;
        }

        .icon-section-1 {
            width: 26px;
            height: 26px;
            overflow: hidden;
            padding-top: 0.2rem;
            border: 2.4px solid black;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
        }
        .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8 {
            width: 26px;
            height: 26px;
            overflow: hidden;
            padding-top: 0.2rem;
            border: 2.4px solid black;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
        }
        .p {
            font-size: 68%;
            line-height: 1.4;
        }
        .card-title, .edu-text, .hobbies{
            font-size: 0.8rem;
        }
        .card-text{
            line-height: 1.4;
            font-size: 73%
        }
        .text-cont {
            font-size: 0.7rem;
        }
        .image-education{
                width: 83% !important;
        }
        .exp-img{
            width: 80%;
        }
        /*styles vertical menu*/
        .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 61px;
            font-size: 1px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -33px;

        }
        li{
            margin-left: -16px;
            margin-bottom: 0px;
        }
        .fa-3x {
            font-size: 0.8rem;
        }
        .img-menu {
            width: 22px;
            height: 22px;
            border: 2px solid white;
            border-radius: 50%;
            margin-left:-3px;
        }
        .geeks-img {
            position: fixed;
            right: 14px;
            top: 4px;
            height: 36px;
            z-index: 20;
        }
        .years {
            font-size: 13px;
            margin-left: -1px;
            vertical-align: middle;
    }
    nav ul li a {
            display: block;
            padding: 0.4rem 0.9rem;
            color: white;
            margin-left: 0;
            }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px){
        .parallax {
            background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 785px;
            background-attachment: fixed;
            position: relative;

        }
        .name{
            font-size: 1.3rem;
        }
        .name-2{
            font-size: 0.9rem;
        }
        .corner-bubble {
            border-radius: 40px;
            margin: auto;
            width: 47%;
            height: 31px;
            background-color: black;
            color: white;
            font-size: 19px;
        }
        .bubble-row {
            margin-top: -11px;
        }
        .bubble {
            position: relative;
            background: #000000;
            border-radius: 4em;
            margin-top: 57px;
        }
        .bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 18px solid transparent;
            border-top-color: #000000;
            border-bottom: 0;
            margin-left: -17px;
            margin-bottom: -13px;
        }
        .motto {
            padding: 11px;
            font-size: 24px;
        }
        .title{
            padding-top: 5px;
            font-size: 1rem;
            padding-left: 10px;
        }
        .p{
            font-size: 0.68rem;

        }
        .icon-section-1 {
            width: 35px;
            height: 35px;
            overflow: hidden;
            padding: 5px;
            border: 3px solid black;
            border-radius: 50%;
            font-size: 18px;
            text-align: center;
        }
        .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8 {
            width: 35px;
            height: 35px;
            overflow: hidden;
            padding-top: 6px;
            border: 3px solid black;
            border-radius: 50%;
            font-size: 17px;
            text-align: center;
        }

        .bubble-row{
            margin-top: -42px;
        }
        .bubble-right{
            margin-top: -58px;
        }
        .section-1 {
            padding: 0rem;
            margin: 0rem 2.5rem;
        }
        .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8{
            padding: 0rem;
            margin: 5rem 2.5rem;
        }
        .hobbies{
            font-size: 0.8rem;
        }
        .exp-text{
            font-size: 0.88rem;
        }
        .border-side {
            border-left: none !important;
        }
        .card-text{
            line-height: 0.8rem;
            font-size: 15px;
        }
        .text-info {
            color: #17a2b8 !important;
            font-size: 0.8rem;
        }
        .card-title, .edu-text, .hobbies{
            font-size: 1rem;
        }
        .fa-2x {
            font-size: 1.3rem;
        }
        .years {
            font-size: 16px;
            margin-left: -34px;
            vertical-align: middle;
        }
        .row-icons{
            padding-left:8px;
        }
        .text-cont{
            font-size: 0.8rem;
        }
        .BSC-col{
            margin-top: 50px;
        }
        .edu-text {
            font-size: 0.88rem;
        }
        .geeks-img {
                position: fixed;
                right: 19px;
                top: 4px;
                height: 39px;
                z-index: 20;
        }
        /*styles vertical menu*/
        .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 66px;
            font-size: 1px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -35px;

        }
        li{
            margin-left: -16px;
            margin-bottom: 0px;
        }
        .fa-3x {
            font-size: 0.9rem;
        }
        .img-menu {
            width: 25px;
            height: 25px;
            border: 2px solid white;
            border-radius: 50%;
            margin-left:-3px;
        }
        nav ul li a {
            display: block;
            padding: 0.4rem 0.9rem;
            color: white;
            margin-left: 0;
            margin-top: -2px;
            }


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .parallax {
            background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 800px;
            background-attachment: fixed;
            position: relative;
        }
        .gradient {
            display: block;
            position: absolute;
            background: linear-gradient( rgba(255, 255, 255, 0), white);
            margin-top: -150px;
            height: 150px;
            width: 100%;
            content: '';
            padding: 0;
        }
        .name{
            font-size: 2rem;
        }
        .name-2{
            font-size: 1rem;
        }
        .section-1 {
            margin-top: 40px;
        }
        .corner-bubble {
            border-radius: 40px;
            margin: auto;
            width: 67%;
            height: 31px;
            background-color: black;
            color: white;
            font-size: 19px;
        }

        .bubble {
            position: relative;
            background: #000000;
            border-radius: 4em;
            margin-top: 69px;
        }
        .bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 18px solid transparent;
            border-top-color: #000000;
            border-bottom: 0;
            margin-left: -17px;
            margin-bottom: -13px;
        }
        .bubble-right{
            margin-top: 0px;
        }
        .motto {
            padding: 11px;
            font-size: 25px;
        }
        .title{
            padding-top: 5px;
            font-size: 1.23rem;
        }
        .p{
            font-size: 0.7rem;
            line-height: 1.3;
        }
        .icon-section-1{
            width: 39px;
            height: 39px;
            overflow: hidden;
            padding-top: 7px;
            padding-left: 5px;
            border: 3px solid black;
            border-radius: 50%;
            font-size: 20px;
            text-align: center;
        }
        .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8 {
            width: 39px;
            height: 39px;
            overflow: hidden;
            padding-top: 6px;
            padding-left: 1px;
            border: 3px solid black;
            border-radius: 50%;
            font-size: 20px;
            text-align: center;
        }

        .hobbies{
            font-size: 1rem;
        }
        .exp-text{
            font-size: 1rem;
        }
        .border-side {
            border-left: 2px solid grey !important;
        }
        .card-text{
            line-height: 0.8rem;
            font-size: 15px;
        }
        .text-info {
            color: #17a2b8 !important;
            font-size: 0.8rem;
        }
        .card-title, .edu-text, .hobbies{
            font-size: 0.8rem;
        }
        .fa-2x {
            font-size: 1.2rem;
        }
        .years {
            font-size: 15px;
            margin-left: -20px;
        }
        .row-icons{
            padding-left:8px;
        }
        .text-cont{
            font-size: 0.7rem;
        }
        .geeks-img {
                position: fixed;
                right: 45px;
                top: 4px;
                height: 52px;
                z-index: 20;
        }
        .BSC-col{
            margin-top: 0px;
        }
        .edu-text{
            font-size: 0.7rem;
        }
        /*styles vertical menu*/
        .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 68px;
            font-size: 1px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -35px;

        }
        li{
            margin-left: -16px;
            margin-bottom: 0px;
        }
        .fa-3x {
            font-size: 1.1rem;
        }
        .img-menu {
            width: 28px;
            height: 28px;
            border: 2px solid white;
            border-radius: 50%;
            margin-left:-3px;
        }
        nav ul li a {
            display: block;
            padding: 0.4rem 0.9rem;
            color: white;
            margin-left: 0;
            }

}

/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
        .parallax {
            background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 800px;
            background-attachment: fixed;
            position: relative;
        }
        .gradient {
            display: block;
            position: absolute;
            background: linear-gradient( rgba(255, 255, 255, 0), white);
            margin-top: -150px;
            height: 151px;
            width: 100%;
            content: '';
            padding: 0;
        }
        .name{
            font-size: 2.2rem;
        }
        .name-2{
            font-size: 1.1rem;
        }
        .section-1 {
            padding: 3rem;
            margin: 0 0 2rem 0;
        }
        .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8{
            padding: 3rem;
            margin: -2rem 0 2rem 0;
        }
        .corner-bubble {
            border-radius: 40px;
            margin: auto;
            width: 61%;
            height: 36px;
            background-color: black;
            color: white;
            font-size: 22px;
        }
        .bubble {
            position: relative;
            background: #000000;
            border-radius: 4em;
            margin-top: 69px;
        }
        .bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 18px solid transparent;
            border-top-color: #000000;
            border-bottom: 0;
            margin-left: -17px;
            margin-bottom: -18px;
        }
        .motto {
            padding: 9px;
            font-size: 29px;
        }
        .title{
            padding-top: 5px;
            font-size: 1.25rem;
        }
        .p{
            font-size: 0.8rem;
            line-height: 1.3;
        }
        .icon-section-1{
            width: 50px;
            height: 50px;
            overflow: hidden;
            padding-top: 7px;
            padding-left: 6px;
            border: 3.8px solid black;
            border-radius: 50%;
            font-size: 28px;
            text-align: center;
        }
        .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8 {
            width: 50px;
            height: 50px;
            overflow: hidden;
            padding-top: 7px;
            padding-left: 1px;
            border: 3.8px solid black;
            border-radius: 50%;
            font-size: 26px;
            text-align: center;
        }
        .hobbies{
            font-size: 1rem;
        }
        .exp-text{
            font-size: 1.3rem;
        }
        .border-side {
            border-left: 2px solid grey !important;
        }
        .card-text{
            line-height: 0.8rem;
            font-size: 15px;
        }
        .text-info {
            color: #17a2b8 !important;
            font-size: 0.8rem;
        }
        .card-title, .hobbies{
            font-size: 1rem;
        }
        .edu-text{
            font-size: 0.9rem;
        }
        .fa-2x {
            font-size: 1.5rem;
        }
        .years {
            font-size: 16px;
        }
        .row-icons{
            padding-left:8px;
        }
        .text-cont{
            font-size: 0.8rem;
        }
        .geeks-img {
                position: fixed;
                right: 21px;
                top: 4px;
                height: 50px;
                z-index: 20;
        }
        /*styles vertical menu*/
        .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 68px;
            font-size: 1px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -35px;

        }
        li{
            margin-left: -16px;
            margin-bottom: 0px;
        }
        .fa-3x {
            font-size: 1.1rem;
        }
        .img-menu {
            width: 28px;
            height: 28px;
            border: 2px solid white;
            border-radius: 50%;
            margin-left:-3px;
        }
        nav ul li a {
            display: block;
            padding: 0.4rem 0.9rem;
            color: white;
            margin-left: 0;
            }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1024px){
        .parallax {
            background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            height: 800px;
            background-attachment: fixed;
            background-position: fixed;
            position: relative;


        }
        .gradient {
            display: block;
            position: absolute;
            background: linear-gradient( rgba(255, 255, 255, 0), white);
            margin-top: -150px;
            height: 151px;
            width: 100%;
            content: '';
            padding: 0;
        }
        .name{
            font-size: 2.3rem;
        }
        .name-2{
            font-size: 1.2rem;
        }
        .corner-bubble {
            border-radius: 40px;
            margin: auto;
            width: 67%;
            height: 40px;
            background-color: black;
            color: white;
            font-size: 24px;
        }

        .bubble-row {
            margin-top: 2px;
        }
        .bubble {
            position: relative;
            background: #000000;
            border-radius: 4em;
            margin-top: 69px;
        }
        .bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 18px solid transparent;
            border-top-color: #000000;
            border-bottom: 0;
            margin-left: -17px;
            margin-bottom: -18px;
        }
        .motto {
            padding: 14px;
            font-size: 33px;
        }
        .title{
            padding-top: 1px;
            font-size: 1.5rem;
        }
        .p{
            font-size: 0.88rem;
            line-height: 1.3;
        }
        .icon-section-1{
            width: 50px;
            height: 50px;
            overflow: hidden;
            padding-top: 7px;
            padding-left: 5px;
            border: 3.8px solid black;
            border-radius: 50%;
            font-size: 28px;
            text-align: center;
        }
        .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8 {
            width: 50px;
            height: 50px;
            overflow: hidden;
            padding-top: 7px;
            padding-left: 1px;
            border: 3.8px solid black;
            border-radius: 50%;
            font-size: 26px;
            text-align: center;
        }
        .section-1 {
            padding: 2rem;
            margin: -2rem 0 2rem 0;
        }
        .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8{
            padding: 2rem;
            margin: -2rem 0 2rem 0;
        }

        .exp-text{
            font-size: 1.3rem;
        }
        .border-side {
            border-left: 2px solid grey !important;
        }
        .card-text{
            line-height: 0.8rem;
            font-size: 15px;
        }
        .text-info {
            color: #17a2b8 !important;
            font-size: 0.8rem;
        }
        .card-title, .edu-text, .hobbies{
            font-size: 1rem;
        }
        .fa-2x {
            font-size: 1.5rem;
        }
        .years {
            font-size: 16px;
            margin-left: -28px;
            margin-top: 4px;
        }
        .row-icons{
            padding-left:8px;
        }
        .text-cont{
            font-size: 0.8rem;
        }
        .img-menu {
            width: 28px;
            height: 28px;
            border: 2px solid white;
            border-radius: 50%;
            margin-left:-3px;
        }

        .geeks-img {
                position: fixed;
                right: 60px;
                top: 4px;
                height: 68px;
                z-index: 20;
        }
        /*styles vertical menu*/
        .vertical-menu{
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 0;
            width: 68px;
            font-size: 1px;
            text-align:center;
            z-index: 20;
            position: fixed;
            margin-top: -35px;
        }

        .fa-3x {
            font-size: 1.1rem;
        }
        nav ul li a {
            display: block;
            padding: 0.4rem 0.9rem;
            color: white;
            margin-left: 0;
            }



}

.section-8 {
    margin-bottom: 600PX;
}

.container-fluid{
   top:0;
   left:0;
display: absolute;


}