/* html{
    scroll-behavior: smooth;
}
.parallax{

    background-repeat: no-repeat;
    background-size: 100%;
    height: 248px;
    background-attachment: fixed;
    position: relative;
}

.vertical-menu{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    width: 16px;
    font-size: 1px;
    text-align:center;
    z-index: 20;
    position: fixed;
    align-items: center;
    margin-top: -30px;
}

.vertical-line{
    border-right: thick solid #000000;
}
.programmer{
     margin-top: -9rem;
    margin-top: -90px;
}
.img-menu {

    width: 33px;

    height: 33px;
    border: 3px solid white;
    border-radius: 50%;
    margin-left:-3px;
}
.gradient {

    height: 73px;

    margin-top: -73px;
    display: block;
    width: 100%;
    position: absolute;
    margin-left: 15px;
    background: linear-gradient( rgba(255, 255, 255, 0), white);
}
.bubbles{
        margin-top:-74px;
    }
.bubble {
    position: relative;
    background: #000000;
    border-radius: 4em;

    margin-top: 0px;
    color: white;

    font-size: 13px;

    width: 64%;

    height: 22px;
    /
    margin-left: 67px;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;

    border: 8px solid transparent;
    border-top-color: #000000;
    border-bottom: 0;

    margin-left: -10px;

    margin-bottom: -8px;
}
.right-bubble{
        margin-top: 9px;
}

.fa-3x {
    font-size: 1.25rem;
    color: white;
}
.fa-3x:hover{
        color:#E2B921;
}

li{

    margin:0;
}
li.idi{
    padding-right:15px;
    padding-bottom: 5px;
    padding-left: 15px;
}


.text-cont{
    padding-left:15px;
}

.border-bottom{
    border-bottom: 2px solid #f4f6f9;
}
.font-weight-bold{
    font-weight: 530 !important;
} */