/* general styles */

/* sample css */




html{
    scroll-behavior: smooth;
}
.parallax{

    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    background-attachment: fixed;
    position: relative;
}

.vertical-menu{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    width: 16px;
    font-size: 1px;
    text-align:center;
    z-index: 20;
    position: fixed;
    align-items: center;
    margin-top: -30px;
}

.vertical-line{
    border-right: thick solid #000000;
}
.programmer{
    margin-top: -90px;
}
.img-menu {
    width: 33px;
    height: 33px;
    border: 3px solid white;
    border-radius: 50%;
    margin-left:-3px;
}
.gradient {
    height: 73px;
    margin-top: -73px;
    display: block;
    width: 100%;
    position: absolute;
    margin-left: 15px;
    background: linear-gradient( rgba(255, 255, 255, 0), white);
}
.bubbles{
        margin-top:-74px;
    }
.bubble {
    position: relative;
    background: #000000;
    border-radius: 4em;
    margin-top: 0px;
    color: white;
    font-size: 13px;
    width: 64%;
    height: 22px;
    margin-left: 67px;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #000000;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -8px;
}
.right-bubble{
        margin-top: 9px;
}

.fa-3x {
    font-size: 1.25rem;
    color: white;
}
.fa-3x:hover{
        color:#E2B921;
}

li{

    margin:0;
}
li.idi{
    padding-right:15px;
    padding-bottom: 5px;
    padding-left: 15px;
}


.text-cont{
    padding-left:15px;
}

.border-bottom{
    border-bottom: 2px solid #f4f6f9;
}
.font-weight-bold{
    font-weight: 530 !important;
}

.font-weight-light{
    font-weight: 200 !important;
}

.overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    color: #f1f1f1;
    width: auto;
    transition: .5s ease;
    opacity:0;
    font-size: 29px;
    padding:11px;
    text-align: center;
    margin-left: 46px;
    margin-top: -65px;
}
 #leftNav span{
        font-family: 'Raleway', sans-serif;
        font-size:14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: -10px;
        left: 96px;
        line-height: 38px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 0;
        -webkit-transition: 0.50s;
    }


    .summary:hover .overlay,
    .language:hover .overlay,
    .interests:hover .overlay,
    .experiences:hover .overlay,
    .project:hover .overlay,
    .skills:hover .overlay,
    .education:hover .overlay,
    .contact:hover .overlay {
        opacity: 0.7;
        color:#E2B921;
        text-align: left;
    }



.border{
        border: 2px solid grey;
}

.pointer > li:hover{
    color:#f7f8f9;
    border-left: 5px solid #E2B921;

}
section{
    padding-left: 33px;
}

.icon-section-1, .icon-section-2, .icon-section-3, .icon-section-4, .icon-section-5, .icon-section-6, .icon-section-7, .icon-section-8{
        width: 30px;
        height: 30px;
        overflow: hidden;
        padding-top: 4px;
        padding-left: 1px;
        border: 3px solid black;
        border-radius: 50%;
        font-size: 16px;
        text-align: center;
}
.p{
        font-size: 0.9rem;
        line-height: 1.3rem;
        font-weight: 300 !important;
}

.bullet{
        margin-top: -21px;
}
.card-label{
        color: rgb(47, 173, 237);
        font-size: 28px;
        line-height: 0rem;
        text-decoration: underline;
}
.card{
        border:0 !important;
        border-radius: 0 !important;
       overflow:hidden;
}
.card-title{
        word-wrap:break-word;
}
.edu-card{
        height: 500px;
}


.card-text{
        font-size: 0.8rem;
        line-height: 1rem;
}
.exp-text{
        font-size: 1rem;
        line-height: 1rem;
}

.exp-border{
        border-bottom: 4px solid #2faded;
}
.exp-img{
        max-width:200px !important;
}
.idiom{
        font-size: 1.2rem;
        line-height: 0.4rem;
}
.level{
        font-size: 1.2rem;
        line-height: 0.4rem;
        margin-top: -13px;
}
.border-section{
        border-bottom: 2px solid grey;
}
.border-side {
     border:none !important;
}
.title{
        font-size: 1.4rem;
        margin-left: 9px;
        margin-top: -1px;
        font-weight: 240 !important;
        letter-spacing: 2px;
        position: absolute;
}

.clock{
        color:#2faded;
}
.year{
        font-weight: 600 !important;
        font-size: 1.3rem;
        margin: 0px -35px;
}
.edu-p{
        font-size: 0.8rem;
        font-weight: 400 !important;
}
    /* avant.line-bottom{
        margin-top: -1rem;
        margin-bottom: 1rem;
        border-top: 3px solid rgba(0, 0, 0, 0.1);
        margin-left: 260px;
        width: 80%;
    } */
.city{
        margin-top: -15px;
}
.image-education{
        max-width:200px !important;
}

    /* avant.geeks-img {
        position: fixed;
        right: 32px;
        top: 17px;
        height: 85px;
        z-index: 20;
} */
.name{
    font-size: 24px;
    padding-top: 34px;
    letter-spacing: 1px;
    padding-left: 30px;
    text-transform: uppercase;
}

.profession{
    font-size: 16px;
    margin-top: -26px;
    letter-spacing: 1px;
    padding-left: 45px;/*new*/
}

.motto{
        margin-top: 4px;
        font-size: 18px;
        margin-left: 23px;
}
.container{
    margin-top: 5rem;
    padding-left: 30px !important;
}

nav ul {
      position: sticky;
      top: 0;
      background-color:black;
      margin-left: 0px;
    }
nav ul li a {
    display: block;
    padding: 0.5rem 0rem;
    color: white;
}

nav ul li a:hover { text-decoration: none; }

nav {
    white-space: nowrap;
  }
.img-fluid {
        max-width: 92%;
        height: auto;
}
.text-left {
        text-align: left !important;
        margin-left: 10px;
}
.fa-2x {
        font-size: 1.7em;
}
.bottom-line {
        border-bottom: 2px solid grey;
        width: 56%;
        margin-left: 0px;
        margin-top: -19px;
    }
.int{
    display: block ;
}
li.int{
    margin-bottom: 5px;
}
/* .line-bottom {
        margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-left: 70px;
        width: 67%;
} */

@media only screen and (min-width: 576px){
    .parallax{
        background-repeat: no-repeat;
        background-size: 100%;
        height: 462px;
        background-attachment: fixed;
    }
    .gradient {
        /* background-image: linear-gradient(to top , white , transparent); */
        height: 150px;
        margin-top: -149px;
        display: block;
        width: 100%;
        position: absolute;
        margin-left: 15px;
        background: linear-gradient( rgba(255, 255, 255, 0), white);
    }
    .vertical-menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 62px;
        font-size: 3px;
        text-align: center;
        z-index: 20;
        position: fixed;
    }
.right-bubble {
    margin-top: 0 !important;
}
.container{
    margin-top: 2rem;
    padding-left: 63px !important;
}
    .overlay {
        position: absolute;
        background: rgb(0, 0, 0);
        color: #f1f1f1;
        width: auto;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        opacity: 0;
        font-size: 14px;
        padding: 14px;
        text-align: center;
        margin-left: 28px;
        margin-top: -50px;
    }
    .summary:hover .overlay,
    .language:hover .overlay,
    .interests:hover .overlay,
    .experiences:hover .overlay,
    .project:hover .overlay,
    .skills:hover .overlay,
    .education:hover .overlay,
    .contact:hover .overlay {
        opacity: 0.7;
        color:#E2B921;
        text-align: left;
    }
    .name {
        font-size: 45px;
        padding-top: 34px;
        letter-spacing: 3px;
        padding-left: 30px;
        text-transform: uppercase;
    }
    .profession {
        font-size: 19px;
        margin-top: -33px;
        letter-spacing: 1px;
        padding-left: 30px;
    }
    /* .line-bottom {
        margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-left: 117px;
        width: 60%;
    } */
    .bubble {
        position: relative;
        background: #000000;
        border-radius: 4em;
        margin-top: 35px;
        color: white;
        font-size: 18px;
        width: 86%;
        height: 29px;
        margin-left: 45px;
    }
    .motto {
        margin-top: 4px;
        font-size: 18px;
        margin-left: 49px;
    }
    .focus{
        margin-top: 4px;
        font-size: 18px;
        margin-left: 49px;
    }
    .title {
        font-size: 1.1rem;
        margin-left: 7px;
        margin-top: -2px;
        font-weight: 240 !important;
        letter-spacing: 3px;
        position: absolute;
    }
    .p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 300 !important;
    }
    .idiom {
        font-size: 0.7rem;
        line-height: 0.4rem;
        margin-left: -29px;
    }
    .level {
        line-height: 0.4rem;
        margin-top: -20px;
        font-size: 15px;
        margin-left: -29px;
    }
    .level > span{
        margin-left: -7px;
        font-size: 13px;
    }
    li.int {
        margin-right: 35px;
    }
    .idiom > span{
        margin-left: -7px;
        font-size: 13px;
    }
    .climbing  > p{
        margin-left: -10px;

    }
    .snowboarding > p{
        margin-left: -10px;

    }
    .cooking > p{
        margin-left: -10px;

    }
    .border-side {
        border-left: 2px solid grey !important;
    }
    .card-label {
        color: rgb(47, 173, 237);
        font-size: 14px;
        line-height: 0rem;
        text-decoration: underline;
        margin-left: -15px;
    }
    .card-text {
        font-size: 0.5rem;
        line-height: 0.6rem;
        font-weight: 200 !important;
        margin-left: -15px;
    }
    .card-title{
        font-size: 12px;
    }
    .bottom-line {
        border-bottom: 2px solid grey;
        width: 56%;
        margin-top: -19px;
    }
    .int{
        display: inline !important;
    }
}



@media only screen and (min-width: 768px){
    .parallax{
        background-repeat: no-repeat;
        background-size: 100%;
        height: 580px;
        background-attachment: fixed;
    }
    .border-side {
        border-left: 2px solid grey !important;
    }
    .gradient {
        /* background-image: linear-gradient(to top , white , transparent); */
        height: 190px;
        margin-top: -190px;
        display: block;
        width: 100%;
        position: absolute;
        margin-left: 15px;
        background: linear-gradient( rgba(255, 255, 255, 0), white);
    }

    .vertical-menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 45px;
        font-size: 1px;
        text-align: center;
        z-index: 20;
        position: fixed;
    }

    nav ul li a {
        display: block;
        padding: 0.7rem 0.3rem;
        color: white;
    }
    nav ul li{
            margin: 0px 13px !important;
    }

    #leftNav span{
        font-family: 'Raleway', sans-serif;
        font-size:14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: -10px;
        left: 143px;
        line-height: 38px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 0;
        -webkit-transition: 0.50s;
    }

    #leftNav a:hover span{ width:auto; padding:0 30px;overflow:visible; border-left-color: #eeb312;}
    #leftNav a:hover{text-decoration:none; }
    #leftNav a span{
	background-color:rgb(49, 49, 49, 0.7);
	color:#eeb312;

    }
    .img-menu {
        width: 43px;
        height: 43px;
        border: 3px solid white;
        border-radius: 50%;
        margin-left: -3px;
    }
    .bubbles{
        margin-top:-88px;
    }
    .name {
        font-size: 65px;
        padding-top: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .profession {
        font-size: 32px;
        margin-top: -55px;
        letter-spacing: 1px;
    }
    .bubble {
        position: relative;
        background: #000000;
        border-radius: 4em;
        margin-top: 35px;
        color: white;
        font-size: 26px;
        width: 99%;
        height: 40px;
        margin-left: -5px;
    }
    .focus{
        margin-top: 10px;
        font-size: 25px;
        margin-left:-8px;
    }
    .motto{
        margin-top: 10px;
        font-size: 25px;
        margin-left: -8px;
    }
    /* .line-bottom {
        margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-left: 156px;
        width: 60%;
    } */
    .icon-section-1 {
        width: 37px;
        height: 37px;
        overflow: hidden;
        padding-top: 5px;
        padding-left: 1px;
        border: 3px solid black;
        border-radius: 50%;
        font-size: 19px;
        text-align: center;
    }
    .icon-section {
        width: 37px;
        height: 37px;
        overflow: hidden;
        padding-top: 5px;
        padding-left: 1px;
        border: 3px solid black;
        border-radius: 50%;
        font-size: 19px;
        text-align: center;
    }
    .title {
        font-size: 1.4rem;
        margin-left: 12px;
        margin-top: -5px;
        font-weight: 240 !important;
        letter-spacing: 2px;
    }
    .p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 300 !important;
    }
    .idiom {
        font-size: 0.9rem;
        line-height: 0.4rem;
    }
    .level{
        font-size: 0.9rem;
        line-height: 0.4rem;
        margin-top: -17px;
    }
    .level > span{
        margin-left: -11px;
    }
    .idiom > span{
        margin-left: -11px;
    }
    .card-label {
        color: rgb(47, 173, 237);
        font-size: 20px;
        line-height: 0rem;
        text-decoration: underline;
    }
    .card-text {
        font-size: 0.7rem;
        line-height: 0.9rem;
        font-weight: 200 !important;
    }
    .card-title{
        font-size: 20px;
    }
    .edu-p{
        font-size: 0.8rem;
        font-weight: 300 !important;
    }
    .fa-2x {
        font-size: 1.5em;
    }
    .year {
        font-weight: 600 !important;
        font-size: 1rem;
        margin: 0px 5px;
    }
    .overlay {
        position: absolute;
        background: rgb(0, 0, 0);
        color: #f1f1f1;
        width: auto;
        transition: .5s ease;
        opacity:0;
        font-size: 25px;
        padding:10px;
        text-align: center;
        margin-left: 37px;
        margin-top: -58px;
    }
    .summary:hover .overlay,
    .language:hover .overlay,
    .interests:hover .overlay,
    .experiences:hover .overlay,
    .project:hover .overlay,
    .skills:hover .overlay,
    .education:hover .overlay,
    .contact:hover .overlay {
        opacity: 0.7;
        color:#E2B921;
        text-align: left;
    }
    .programmer {
        margin-top: -185px;
    }
    .bottom-line {
        border-bottom: 2px solid grey;
        width: 56%;
        margin-left: 0;
        margin-top: -19px;
    }
    .name-2{
        font-size:1.8rem;
    }

    .bubble-row {
        margin-left: 5px !important;
    }
}

@media only screen and (min-width: 992px){
    .parallax{

        background-repeat: no-repeat;
        background-size: 100%;
        height: 650px;
        background-attachment: fixed;
        position: relative;
    }

    .gradient {
        /* background-image: linear-gradient(to top , white , transparent); */
        height: 200px;
        margin-top: -199px;
        display: block;
        width: 100%;
        position: absolute;
        margin-left: 15px;
        background: linear-gradient( rgba(255, 255, 255, 0), white);
    }
    .name {
        font-size: 79px;
        padding-top: 47px;
    }
    .profession {
        font-size: 26px;
        margin-top: -58px;
        font-weight: 200 !important;
    }
    /* .border-sample {
        margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-left: 209px;
        width: 59%;
    } */
    .vertical-menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 80px;
        font-size: 2px;
        text-align: center;
        z-index: 20;
        position: fixed;
    }
    nav ul li a {
        display: block;
        padding: 0.7rem 0.3rem;
        color: white;
    }
#leftNav span {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -10px;
    left: 170px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
    -webkit-transition: 0.50s;
}

.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
nav ul {
    margin-left: -35px;
}
    .img-menu {
        width: 43px;
        height: 43px;
        border: 3px solid white;
        border-radius: 50%;
        margin-left: -3px;
    }
    .geeks-img {
        position: fixed;
        right: 14px;
        top: 15px;
        height: 68px;
        z-index: 20;
    }

    .bubbles{
        margin-top: -104px;
    }
    .bubble {
        position: relative;
        background: #000000;
        border-radius: 4em;
        margin-top: 44px;
        color: white;
        font-size: 25px;
        width: 77%;
        height: 42px;
        margin-left: 62px;
    }
    .bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 23px solid transparent;
        border-top-color: #000000;
        border-bottom: 0;
        margin-left: -19px;
        margin-bottom: -15px;
    }
    section{
        margin-left: 44px;
        margin-right: 44px;
    }
    .motto{
        font-size: 1.3rem;
        margin-top: 0.5rem;
        padding-left: 34px;
    }
    .focus{
        font-size: 1.3rem;
        margin-top: 0.5rem;
        padding-left: 34px;
    }
    /* .line-bottom {
        margin-top: -1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-left: 221px;
        width: 58%;
    } */
    .p {
        font-size: 0.9rem;
        line-height: 1.4rem;
        font-weight: 300 !important;
    }
    .icon-section-1 {
        width: 41px;
        height: 41px;
        overflow: hidden;
        padding-top: 7px;
        padding-left: 2px;
        border: 4px solid black;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
    }
    .icon-section {
        width: 41px;
        height: 41px;
        overflow: hidden;
        padding-top: 7px;
        padding-left: 0px;
        border: 4px solid black;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
    }
    .title {
        font-size: 1.5rem;
        margin-left: 8px;
        margin-top: -3px;
        font-weight: 240 !important;
        letter-spacing: 2px;
    }
    .idiom {
        font-size: 1rem;
        line-height: 0.3rem;
    }
    .level {
        font-size: 1rem;
        line-height: 0.3rem;
        margin-top: -13px;
    }

    .year {
        font-weight: 600 !important;
        font-size: 1.1rem;
        margin: 0px 5px;

    }
    .fa-2x {
        font-size: 1.6em;
    }
    .border-side {
        border-left: 2px solid grey !important;
    }
    .overlay {
        position: absolute;
        background: rgb(0, 0, 0);
        color: #f1f1f1;
        width: auto;
        transition: .5s ease;
        opacity:0;
        font-size: 25px;
        padding:11px;
        text-align: center;
        margin-left: 37px;
        margin-top: -60px;
    }
    .summary:hover .overlay,
    .language:hover .overlay,
    .interests:hover .overlay,
    .experiences:hover .overlay,
    .project:hover .overlay,
    .skills:hover .overlay,
    .education:hover .overlay,
    .contact:hover .overlay {
        opacity: 0.7;
        color:#E2B921;
        text-align: left;
    }
    .idiom > span {
        margin-left: -7px;
        font-size: 19px;
    }
    .level > span{

            margin-left: -7px;
            font-size: 19px;

    }
    .bottom-line {
        border-bottom: 2px solid grey;
        width: 56%;
        margin-left: 0;
        margin-top: -19px;
    }

    .name-2{
        font-size:1.8rem;
    }
    .educ{
        height:500px;
    }

}


@media only screen and (min-width: 1200px){
    .container {
        max-width: 850px;
        margin-top: 7rem;
        padding-left: 63px !important;
    }
    .parallax{
        background-repeat: no-repeat;
        background-size: 100%;
        height: 656px;
        background-attachment: fixed;
        position: relative;

    }
    .gradient {
        /* background-image: linear-gradient(to top , white , transparent); */
        height: 200px;
        margin-top: -199px;
        display: block;
        width: 100%;
        position: absolute;
        margin-left: 15px;
        background: linear-gradient( to top,white,  rgba(255, 255, 255, 0));
    }
    .bubbles{
        margin-top: -85px;
    }

    .bubble {
        position: relative;
        background: #000000;
        border-radius: 4em;
        margin-top: 44px;
        color: white;
        font-size: 29px;
        width: 81%;
        height: 50px;
        margin-left: 43px;
    }
    .bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 23px solid transparent;
        border-top-color: #000000;
        border-bottom: 0;
        margin-left: -19px;
        margin-bottom: -20px;
    }

    .motto, .focus{
        font-size: 1.4rem;
        margin-top: 0.5rem;
        margin-left: -34px;
    }
    section{
        margin-left: -20px;
        margin-right: 23px;
    }
    .geeks-img {
        position: fixed;
        right: 9px;
        top: 13px;
        height: 71px;
        z-index: 20;
    }
    .name {
        font-size: 84px;
        padding-top: 107px;
    }
    .vertical-menu{
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
        width: 87px;
        font-size: 1px;
        text-align:center;
        z-index: 20;
        position: fixed;
    }
     #leftNav span{
        font-family: 'Raleway', sans-serif;
        font-size:14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: -10px;
        left: 133px;
        line-height: 38px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 0;
        -webkit-transition: 0.50s;
    }

    #leftNav a:hover span{ width:auto; padding:0 30px;overflow:visible; border-left-color: #eeb312;}
    #leftNav a:hover{text-decoration:none; }
    #leftNav a span{
	background-color:rgb(49, 49, 49, 0.7);
	color:#eeb312;

    }
    .img-menu {
        width: 38px;
        height: 38px;
        border: 3px solid white;
        border-radius: 50%;
        margin-left: -3px;
    }
    nav ul li a {
        display: block;
        padding: 1rem 0.2rem;
        color: white;
    }

nav ul li{
    margin: 0px 13px !important;

}

    .overlay {
        position: absolute;
        background: rgb(0, 0, 0);
        color: #f1f1f1;
        width: auto;
        transition: .5s ease;
        opacity:0;
        font-size: 25px;
        padding:17px;
        text-align: center;
        margin-left: 41px;
        margin-top: -72px;
    }
    .summary:hover .overlay,
    .language:hover .overlay,
    .interests:hover .overlay,
    .experiences:hover .overlay,
    .project:hover .overlay,
    .skills:hover .overlay,
    .education:hover .overlay,
    .contact:hover .overlay {
        opacity: 0.7;
        color:#E2B921;
        text-align: left;
    }
    .icon-section-1 {
        width: 51px;
        height: 51px;
        overflow: hidden;
        padding-top: 8px;
        padding-left: 1px;
        border: 5px solid black;
        border-radius: 50%;
        font-size: 24px;
        text-align: center;
    }
    .icon-section {
        width: 51px;
        height: 51px;
        overflow: hidden;
        padding-top: 8px;
        padding-left:0px;
        border: 5px solid black;
        border-radius: 50%;
        font-size: 24px;
        text-align: center;
    }
    .profession {
        font-size: 32px;
        margin-top: -59px;
    }
    .title {
        font-size: 1.7rem;
        margin-left: 21px;
        margin-top: -5px;
        font-weight: 240 !important;
        letter-spacing: 8px;
    }
    .p {
        font-size: 1.1rem;
        line-height: 1.3rem;
        font-weight: 00 !important;
    }
    .idiom {
        font-size: 1.1rem;
        line-height: 0.3rem;
        margin-left: 10px;
    }
    .level{
        font-size: 1.1rem;
        line-height: 0.3rem;
        margin-top: -13px;
        margin-left: 10px;
    }
    .level > span{
        margin-left: -4px;
        font-size: 1rem;
    }
    .idiom > span{
        margin-left: -4px;
        font-size: 1rem;
    }
    /* .line-bottom {
        margin-top: -1rem;
        margin-bottom: 1rem;
        /* border: 0; */
        /* border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-left: 250px;
        width: 60%;
    } */
    h4, .h4 {
        font-size: 1.3rem;
    }
    .card-label {
        color: rgb(47, 173, 237);
        font-size: 24px;
        line-height: 0rem;
        text-decoration: underline;
    }
    .card-text {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    .card-image-top{
        width: 86%;
    }
    .year {
        font-weight: 600 !important;
        font-size: 1rem;
        margin: 0px 6px;
    }
    .fa-2x {
        font-size: 1.66rem;
        margin-top: 0px;
    }
    .edu-p {
        font-size: 0.8rem;
        font-weight: 400 !important;
        line-height: 1.1rem;
    }
    .edu-title{
        font-size: 1.2rem;
    }

    .border-side {
        border-left: 2px solid grey !important;
    }
    .exp-border{
        border-bottom: 4px solid #2faded;
    }
    .programmer{
        margin-top: -9rem;
    }
    .climbing > p, .snowboarding > p, .cooking > p{
        margin-left: 10px;
    }
    .exp-text {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .bottom-line {
        border-bottom: 2px solid grey;
        width: 56%;
        margin-left: 0px;
        margin-top: -19px;
    }
    .educ{
        height:500px;
    }

}

