/*
    General Styles
*/
.parallax{
    background-image: url('https://los40es00.epimg.net/los40/imagenes/2018/08/10/album/1533898556_362198_1533898666_album_normal.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    background-attachment: fixed;
    position: relative;

}

.vertical-menu{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1px;
    margin-bottom: 0;
    width: 65px;
    font-size: 10px;
    text-align:center;
    z-index: 20;
    position: fixed;
}
.gradient {
    display: block;
    position: absolute;
    background: linear-gradient( rgba(255, 255, 255, 0), white);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
    padding: 0;
}
.section-top{
    background-color:black;
    padding-left: 13px;
}