{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    "strict":0,
    "no-unused-vars": 0,
    "no-console": 1,
    "semi": ["error", "always"],
    "allowImportExportEverywhere": false,
    "comma-dangle": [1, { //when to use the last comma
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore",
    }],
  },
  "extends": ["eslint:recommended"]
}
