/* details */
.parent {
  font-family: "Roboto", sans-serif;
  color: #545e6c;
  background: #f5f5f5;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.mb-1 {
  margin-bottom: 0.35rem;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.wrapper {
  background: #191f22;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.main-wrapper {
  background: #fff;
  padding: 50px 40px;
  width: 100%;
}

.main-wrapper .section {
  margin-bottom: 60px;
}

.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: black;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-family: "Quicksand";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}
.me-3 {
  margin-right: 1rem;
}
.me-2 {
  margin-right: 0.5rem;
}
.fa-stack {
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.fa-xs {
  font-size: 0.75em;
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.bg-dark {
  background-color: black;
}
.border-raidus-round {
  border-radius: 50%;
}
.text-align-center {
  text-align: center;
}
.fa-circle:before {
  content: "\f111";
}

.fa-user:before {
  content: "\f007";
}

.fa-inverse {
  color: #fff;
  margin-top: 0.36rem;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-circle:before {
  content: "\f111";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.main-wrapper .experiences-section .item,
.main-wrapper .educations-section .item {
  margin-bottom: 30px;
}

.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.main-wrapper .job-title,
.main-wrapper .degree {
  color: #3f4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
}

.main-wrapper .company,
.main-wrapper .university {
  margin-bottom: 10px;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

.fa-archive:before {
  content: "\f187";
}

.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

.fa-wrench:before {
  content: "\f0ad";
}
.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
}
.skillset .level-bar-inner {
  height: 12px;
  background: #39474e;
}
@media (min-width: 992px) {
  .skillset .level-title {
    /* display: inline-block; */
    width: 30%;
    margin-bottom: 0;
    float: left;
  }
  .skillset .level-bar {
    /* display: inline-block; */
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}

/* sidebar */
.sidebar-wrapper {
  background: #191f22;
  width: 450px;
  min-height: 800px;
  color: #fff;
}

.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}

.sidebar-wrapper .avatar {
  max-width: 100px;
  margin-bottom: 15px;
  border: 0px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

img {
  vertical-align: middle;
}

.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.p-0 {
  padding: 0 !important;
}

.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-wrapper .container-block {
  padding: 30px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.sidebar-wrapper .contact-list li {
  margin-bottom: 15px;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.sidebar-wrapper .contact-list .fas,
.sidebar-wrapper .contact-list .fab {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.sidebar-wrapper a {
  color: #fff;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.fa-twitter:before {
  content: "\f099";
}

.sidebar-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}

.fa-github:before {
  content: "\f09b";
}

/* education container */
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.sidebar-wrapper .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
.sidebar-wrapper .education-container .meta {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}
.sidebar-wrapper .education-container .time {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
}
h5,
.h5 {
  font-size: 1.25rem;
}

/* language container */
.sidebar-wrapper .interests-list {
  margin-bottom: 0;
}

.sidebar-wrapper .languages-container .lang-desc {
  color: rgba(255, 255, 255, 0.6);
}

/* interest container */
.sidebar-wrapper .interests-list li {
  margin-bottom: 10px;
}

.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}
/* end details */
