@import "~bootstrap/dist/css/bootstrap.min.css";
/* home */
h1,
h2,
h3 {
  font-family: "Quicksand";
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background: #f5f5f5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.badge.badge-dark a {
  color: white;
}

a {
  text-decoration: none;
  background-color: transparent;
}
.badge-dark {
  background-color: #343a40;
}
.text-right {
  text-align: right !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.text-success {
  color: #28a745 !important;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}
b,
strong {
  font-weight: bolder;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.text-decoration-none {
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* end home */

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5) !important;
}
.modal-content {
  margin: 15%;
  width: 80%;
  border: 1px solid black;
}

.hide {
  display: none;
}
.p-4 {
  padding: 1.5rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
h3,
.h3 {
  font-size: 1.75rem;
}
/* .mb-3, .my-3 {
    margin-bottom: 1rem !important;
} */
/* .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
} */
h4,
.h4 {
  font-size: 1.5rem;
}
.number {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgb(110, 110, 110);
  color: white;
  box-shadow: inset 0 0 10px #000000;
}

.instructions a {
  color: blue;
}

* modal share */ .d-block {
  display: block !important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  align-items: flex-start;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

button.close {
  /* padding: 0; */
  background-color: transparent;
  border: 0;
  /* -webkit-appearance: none; */
  appearance: none;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.social-share a:first-of-type {
  margin-left: 0 !important;
}

.ewcqji {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  display: inline-block;
}

.social-share a:last-of-type {
  margin-right: 0 !important;
}

.fWYWWZ {
  border-radius: 5px;
  -webkit-transition: 25ms ease-out;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #55acee;
  border-color: #55acee;
}
.cgeQjm {
  display: flex;
  align-items: center;
  fill: #fff;
  stroke: none;
}
.ewcqji svg:not(:only-child) {
  margin-right: 0.4em;
}
.ewcqji svg {
  width: 1em;
  height: 1em;
  vertical-align: top;
}
.jzuEBQ {
  border-radius: 5px;
  -webkit-transition: 25ms ease-out;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #3b5998;
  border-color: #3b5998;
}
.dWbQzG {
  border-radius: 5px;
  -webkit-transition: 25ms ease-out;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #0077b5;
  border-color: #0077b5;
}
.buVPmO {
  border-radius: 5px;
  -webkit-transition: 25ms ease-out;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  border-color: #5f99cf;
  background: rgb(255, 61, 30);
  margin-right: 0px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    display: flex;
    max-width: 57%;
    margin: 1.75rem auto;
  }
}
/* end modal */
/* student list */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/* student list */
.students .row {
  font-size: 20px;
  padding: 10px 0;
}

.students .row p:first-child {
  margin-top: -5px;
}
.students .motto {
  display: block;
  margin-top: -22px;
}
small,
.small {
  font-size: 80%;
  font-weight: 400;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}

@media (min-width: 576px) {
  .d-sm-inline-block {
    display: inline-block !important;
  }
}
.students .row:hover {
  background: rgb(224, 224, 224);
  border-radius: 10px;
}
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
/* end student list */
